VITE_SUPABASE_URL=https://wjcgrhmhdvalyngnffra.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqY2dyaG1oZHZhbHluZ25mZnJhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0OTUyMjIsImV4cCI6MjA5ODA3MTIyMn0.Wc9G9i6sLsR0lf5oZr2PiKZJUeAwG2g_W37kUCCadB4